h1,h2 {
    font-weight: 800;
    padding: 1.5rem 0 2rem;
    margin: 0;
}

h3 {
    font-weight: 800;
    padding: 0.5rem 0;
    margin: 0;
}

/* event schedule */
.day-schedule {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.time-column {
    padding: 0.5rem;
    font-size: 0.75rem;
    color: rgb(63, 63, 63);
    position: sticky;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(3px);
}

.event-column {
    padding: 0.5rem;
}

.event-column + .event-column {
    border-left: 1px solid rgb(215, 225, 235);
}

.event-column a {
    color: inherit;
    text-decoration: dashed;
}

.event {
    width: 11rem;
    background: lightblue;
    padding: 0.4rem 0.5rem;
    border-radius: 11px;
}

.event h5 {
    font-size: 1rem;
}
.event p {
    font-size: 0.875rem;
    text-align: right;
    margin: 0;
}

.event.color-1 {
    background-color: hsl(56, 85%, 89%);
    color: hsl(56, 85%, 29%);
}
.event.color-2 {
    background-color: hsl(27, 92%, 90%);
    color: hsl(27, 92%, 30%);
}
.event.color-3 {
    background-color: hsl(356, 100%, 91%);
    color: hsl(356, 100%, 31%);
}
.event.color-4 {
    background-color: hsl(311, 64%, 85%);
    color: hsl(311, 64%, 25%);
}
.event.color-5 {
    background-color: hsl(263, 64%, 84%);
    color: hsl(263, 64%, 24%);
}
.event.color-6 {
    background-color: hsl(215, 77%, 80%);
    color: hsl(215, 77%, 20%);
}
.event.color-7 {
    background-color: hsl(195, 82%, 76%);
    color: hsl(195, 82%, 16%);
}
.event.color-8 {
    background-color: hsl(185, 84%, 76%);
    color: hsl(185, 84%, 16%);
}
.event.color-9 {
    background-color: hsl(167, 82%, 78%);
    color: hsl(167, 82%, 18%);
}
.event.color-10 {
    background-color: hsl(126, 89%, 85%);
    color: hsl(126, 89%, 25%);
}