{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}

<h1>Schedule</h1>

<div class="text-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create +</button>
</div>

<table>
    <thead>
        <tr>
            <td>Time</td>
            <td>Movie</td>
            <td>Theater</td>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.begins_at }}</td>
            <td>{{ event.movie }}</td>
            <td>{{ event.theater }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "scheduler/create.html" %}

{% endblock content %}