{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}

<div class="row justify-content-between align-items-center">
    <div class="col">
        <h1>Schedule</h1>
        <div class="row">
            <h2 class="col-auto text-secondary">{{ date_string }}</h2>
            <div class="col-auto date-nav">
                <a href="/{{ date_prev }}">&#x2039;</a>
                {% if request.path != '/' %}
                <a href="/" class="today-link">Today</a>
                {% endif %}
                <a href="/{{ date_next }}">&#x203A;</a>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create +</button>
    </div>
</div>

<div class="day-schedule">
    <div class="time-column">
        <h2>&nbsp;</h2>
        {% for hour in hours %}
            {% if hour == 0 %}
            <span id="hour-{{ hour }}">midnight</span>
            {% elif hour == 12 %}
            <span id="hour-{{ hour }}">noon</span>
            {% else %}
            <span id="hour-{{ hour }}">{{ hour }}:00</span>
            {% endif %}
            {% for minute in minutes %}
                {% if minute != 0 %}
                    <hr id="hour-{{ hour }}-{{ minute }}">
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% for theater, theater_events in events.items %}
    <div class="event-column">
        <h2><a href="/theaters/{{ theater.1 }}">{{ theater.1 }}</a></h2>
        {% for event in theater_events %}
        <div 
            class="event color-{{ event.movie.color_code }}"
            data-hour="{{ event.begins_at.hour }}"
            data-minute="{{ event.begins_at.minute }}"
            data-duration_seconds="{{ event.movie.duration_seconds }}"
        >
            <h5><a href="/movies/{{ event.movie.slug }}">{{ event.movie }}</a></h3>
            <p>{{ event.movie.friendly_duration }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<script>
    const schedulesTop = document.querySelector('.day-schedule').getBoundingClientRect().top

    const sampleHourOneTop = document.getElementById('hour-1').getBoundingClientRect().top
    const sampleHourTwoop = document.getElementById('hour-2').getBoundingClientRect().top
    // difference in the two mark's
    const pixelsPerSecond = (sampleHourTwoop - sampleHourOneTop) / 3600 

    const events = document.querySelectorAll('.event')
    for (let i = 0; i < events.length; i++) {
        let timeTick = `hour-${events[i].dataset.hour}`
        if (events[i].dataset.minute != 0) {
            let minute = events[i].dataset.minute
            minute = Math.round(minute / 15) * 15 // round to nearest quarter hour
            timeTick += `-${minute}`
        }

        const timeTickBounds = document.getElementById(timeTick).getBoundingClientRect()
        const eventTop = timeTickBounds.top - schedulesTop + (timeTickBounds.height / 2)
        events[i].style.top = `${eventTop}px`

        const height = events[i].dataset.duration_seconds * pixelsPerSecond
        events[i].style.height = `${height}px`
    }
</script>

{% include "scheduler/create.html" %}

{% endblock content %}